variable "access-key" {
  default = "AKIAXJDHDJ5RYYTXNUUF"
}

variable "secret-key" {
  default = "Dlb5LwjBILOJnVK2/LJVeib1Fx3ooEwgES24zJ1S"
}

variable "public-key" {
  default = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC2Y3B0HxVfTFexrd6odvruRFENjWGgK/vfe9GB5eox+Kkez4BnH0v/uTAWBfsV+77oInwdDSx7FIv1ajmSaWr3a20Z9G0rLRCdVeQBSb4MJAQXMOqYlymhZscc1OPkw7w3ossjT+w0Z/cnFKE1hexPO/L+VXTTPoFR1XsZKXxdg+oxewU3PvBMoR1LRz11NYO4aZSU/dU8hxAVUE5VH9QSzCsMsA9q9MpYyCS79FcgDSq8pFPdO6+cEboYSeBTCxHNH1cCr7DQPAuEQTu1wq3chvZpeNywG+9j5j5K1T0QjwAsu0DJ1NdRDoSCK63zlfjxKv6JTDYxArf9R8/rBe+sT3WdiSyc4eJt3kRoKl/iUgvbXrtyfoAQyDt2TdLIREFNJPYSfv+GMCwh3DGPRL3N7CdwnfscJAgHk9YmytL+p0TpOAqTlcwWEEbb60WFMWHhSPKYs1kvxAUm+VxXoYI/uOYORbsHpNYHRz8Ncizjm0+M6slyLqoKa+00fURu0YX4rJv8E2JDLXwrO9iExighDM299bMhV90+8zZYbaPSnL3HYUsjKya+pUdYpNrq8FCivkjkXKHqXlewOymFKTLEFy5Wd7u5e+QfQujn+ffjb+hKwJNeDqDulV+pGKJFQ/e6y+NR+OMrv2/qyPJI0poFJaJJTWfIR9JvhogMLyBwJw== davidescus@davidescus-home"
}
variable "region" {
  default = "eu-west-2"
}

###### Instances Config ######
variable "instance-type" {
  default = "t2.micro"
}

# default ubuntu ubuntu 18.04 ami
variable "instance-ami" {
  default = "ami-07dc734dc14746eab"
}

# number of instances
variable "instances-number" {
  default = 1
}
