variable "access-key" {
  default = "your_access_key"
}

variable "secret-key" {
  default = "your_secret_key"
}

variable "public-key" {
  default = "your_public_key_for_access_machines"
}
variable "region" {
  default = "eu-west-2"
}

###### Instances Config ######

variable "instance-type" {
  default = "t2.micro"
}

# default ubuntu ubuntu 18.04 ami
variable "instance-ami" {
  default = "ami-07dc734dc14746eab"
}

# absolute path to private ssh key
variable "private-key" {
  default = "path_to_your_private_key_on_your_machine"
}

# number of cassandra seeds
variable "cassandra-seed-number" {
  default = 1
}

# number of cassandra nodes
variable "cassandra-node-number" {
  default = 1
}
